<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <form action="/task/doAdd" method="post">
        machine_id : <input type="text" name="id"><br>
        machine_name：<input type="text" name="machine"><br>
        <input type="submit" value="submit">
    </form>

</body>
</html>